.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: 'Press Start 2P';
}

.optionsContainer a, h3 {
  text-decoration: none;
  margin-top: 0;
}

.options {
  margin: auto 15vw;
}

.option {
  display: flex;
  margin: 3px 0;
}

.sideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.bio {
  font-size: 12px;
  font-family: 'Press Start 2P';
  text-align: center;
  padding: 0 1rem;
}

.bio a {
  color: var(--white);
}

.notSelected {
  color: var(--white);;
}

.selected {
  color: var(--red);;
}

@media (min-width: 1400px) {
  .bio {
    font-size: 14px;
  }

  .sideContainer {
    width: 35vw;
  }

  .options {
    margin: auto 80px;
  }
}

@media (min-width: 1075px) {
  .options {
    margin: auto 80px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .bio {
    font-size: 14px;
    height: 500px;
  }
}

@media (min-width: 1875px) {
  .bio {
    height: 400px;
  }
}
