.container {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Press Start 2P";
}

.options {
  margin: auto 15vw;
  padding-top: 8px;
  white-space: nowrap;
}

.option {
  display: flex;
  margin: 3px 0;
}

.sideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.bio {
  font-size: 12px;
  font-family: "Press Start 2P";
  text-align: left;
  line-height: 1.7;
}

.bio a {
  color: var(--white);
  text-decoration: underline;
}

.bio p:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .bio {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .optionsContainer {
    width: 90%;
  }

  .options {
    display: flex;
    justify-content: space-between;
    margin: auto 0px;
  }

  .sideContainer {
    width: 80%;
  }

  .bio {
    font-size: 14px;
  }
}