.container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.bio {
  font-size: 12px;
  font-family: "Press Start 2P";
  text-align: left;
  line-height: 1.7;
}

.bio a {
  color: var(--white);
  text-decoration: underline;
}

.bio p:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .container {
    margin-bottom: 60px;
  }

  .bio {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .sideContainer {
    width: 80%;
  }

  .bio {
    font-size: 14px;
  }
}