.block {
  background: var(--background);
  padding: 4rem 5vw;
  position: relative;
}

.block.clouds {
  background: url('../images/bg-clouds.jpg') var(--blue);
}

.block.blue {
  background: var(--blue);
}
