.marioSlide {
  display: none;
}

.container {
  margin-bottom: -4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.mario {
  width: 60px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 155px;
  z-index: 1;
}

.balloonContainer {
  font-family: "Press Start 2P";
  position: relative;
  z-index: 1;
}

.balloonCVContainer {
  font-family: "Press Start 2P";
  margin: 0px -30px 65px 0px;
}

.contactLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balloonContainer i {
  margin-top: 15px;
}

.luigi {
  width: 60px;
  position: relative;
  z-index: 1;
}

.cvContainer {
  display: none;
  white-space: nowrap;
  text-align: center;
}

.cvSameBalloon {
  margin-top: 25px;
}

.cvSameBalloon > div {
  text-align: center;
}

.cvIcon {
  margin-top: 15px;
}

.bowser {
  margin-bottom: -3px;
}

.flag {
  display: none;
}

.mountain {
  display: none;
}

.castle {
  display: none;
}

@media (min-width: 830px) {
  .cvSameBalloon {
    display: block;
  }

  .balloonContainer {
    margin: 0px 80px -20px 30px;
  }

  .balloons {
    display: flex;
  }

  .contactLink {
    margin: 0 20px;
  }

  .bowser {
    width: 92px;
    margin-right: 25px;
  }

  .mountain {
    display: block;
    position: absolute;
    left: 20%;
    z-index: 0;
  }

  .flag {
    display: block;
    margin-right: 20px;
  }

  .castle {
    display: block;
  }

  .accountName {
    display: none;
  }
}

@media (min-width: 1300px) {
  .cvContainer {
    display: flex;
    align-items: flex-end;
  }

  .cvSameBalloon {
    display: none;
  }

  .castle-hidden {
    display: none;
  }
}

@media (min-width: 1600px) {
  .castle {
    display: block;
  }
}

@media (min-width: 1700px) {
  .marioSlide {
    display: block;
  }

  .pipe {
    margin: 0 auto;
    margin-top: -95px;
    margin-bottom: 150px;
    width: 150px;
    transform: rotateX(180deg);
    position: relative;
    z-index: 1;
  }

  .flag {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-right: 80px;
  }

  .cvContainer {
    margin-left: 80px;
  }
}
