.container {
  margin-bottom: -4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.balloonContainer {
  font-family: "Press Start 2P";
}

.contactLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balloonContainer i {
  margin-top: 15px;
}

.luigi {
  width: 60px;
}

.cvContainer {
  display: none;
  white-space: nowrap;
  text-align: center;
}

.cvSameBalloon {
  margin-top: 25px;
}

.cvSameBalloon > div {
  text-align: center;
}

.cvIcon {
  margin-top: 15px;
}

.bowser {
  float: right;
}

.castle {
  display: none;
}

@media (min-width: 775px) {
  .cvSameBalloon {
    display: block;
  }

  .balloonContainer {
    margin: 0 80px -5px 50px;
  }

  .balloons {
    display: flex;
  }

  .contactLink {
    margin: 0 20px;
  }

  .bowser {
    width: 92px;
    margin-right: 20px;
  }

  .castle {
    display: block;
  }

  .accountName {
    display: none;
  }
}

@media (min-width: 1200px) {
  .cvContainer {
    display: block;
  }
  .cvSameBalloon {
    display: none;
  }
}
