:root {
  --white: white;
  --text: #403c4a;
  --text-muted: #78757f;
  --blue: #3fbeff;
  --black: #070707;
  --gray-light: #d4d0e0;
  --brown: #fdc4b6;
  --brown-dark: #d64b00;
  --font-family: "Work Sans", Roboto, Helvetica, Arial, sans-serif;
  --background: var(--white);
  --foreground: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.45;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.outer {
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground);
  font-weight: 900;
  line-height: 1.1;
}

a {
  color: var(--text);
  font-weight: 400;
}

strong,
b {
  font-weight: 900;
}

img {
  max-width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.unanimatedSection {
  opacity: 0;
}

.animateSection {
  opacity: 1;
  transition: opacity 1s;
  animation: 0.4s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}
