.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  top: 0;
  z-index: 1000;
  background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
}

.header::after {
  background-image: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--brown) 50%,
    var(--blue) 100%
  );
  content: '';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.home {
  color: var(--white);
  font-weight: 400;
  text-decoration: none;
}

.settings-sound-button {
  background: var(--text-muted);
  border: 2px solid transparent;
  border-radius: 50%;
  display: block;
  padding: 3px;
  transition: 200ms all linear;
}

.settings-sound-button:focus,
.settings-sound-button:hover {
  background: var(--white);
  border-color: var(--brown-dark);
}

.settings-sound {
  display: block;
  height: 25px;
  width: 25px;
}

@media (min-width: 400px) {
  .header {
    padding: 0.5rem 2rem;
  }
}
