.logosContainer {
  margin-top: 60px;
  font-family: "Press Start 2P";
  text-align: center;
}

.mainTitle {
  margin: 40px 0;
  font-size: 18px;
}

.logoSection {
  margin: 20px 0;
}

.logoGroup img {
  width: 90px;
}

.logoGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.logoGroupTitle {
  color: gray;
  font-size: 14px;
}

.logoGroupTitle#companiesTitle {
  margin-bottom: -20px;
}

.logoSection#companiesSection {
  margin-bottom: -30px;
}

.logoGroupTitle#startupsTitle {
  margin-bottom: 0px;
}

.logoSection#startupsSection {
  margin-bottom: -10px;
}

.logoGroupTitle#factoriesTitle {
  margin-bottom: 5px;
}

.logoGroup#factoriesLogos img {
  width: 120px;
}

@media (min-width: 600px) {
  .mainTitle {
    margin: 50px 0;
    font-size: 1.5rem;
  }

  .logoGroup img {
    width: 160px;
  }
  
  .logoGroupTitle {
    font-size: 18px;
  }

  .logoGroupTitle#companiesTitle {
    margin-bottom: -35px;
  }

  .logoSection#companiesSection {
    margin-bottom: -35px;
  }

  .logoGroupTitle#startupsTitle {
    margin-bottom: -35px;
  }

  .logoSection#startupsSection {
    margin-bottom: -35px;
  }

  .logoGroupTitle#factoriesTitle {
    margin-bottom: 15px;
  }

  .logoGroup#factoriesLogos img {
    width: 250px;
  }
}

@media (min-width: 903px) {
  .logoGroup img {
    width: auto;
  }

  .logoGroupTitle#companiesTitle {
    margin-bottom: -55px;
  }

  .logoSection#companiesSection {
    margin-bottom: -55px;
  }

  .logoGroupTitle#startupsTitle {
    margin-bottom: -10px;
  }

  .logoSection#startupsSection {
    margin-bottom: 22px;
  }

  .logoGroup#factoriesLogos img {
    width: 300px;
  }
}

@media (min-width: 1017px) {
  .logoGroupTitle#factoriesTitle {
    margin-bottom: 5px;
  }

  .logoGroup#factoriesLogos img {
    width: auto;
  }
}
