.logosContainer {
  margin-top: 50px;
  font-family: "Press Start 2P";
  text-align: center;
}

.mainTitle > * {
  display: none;
}

.mainTitle {
  margin: 25px 0;
  font-size: 18px;
}

.logoSection {
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logoGroup img {
  width: 100px;
  filter: grayscale(50%);
}

.logoGroup img:hover {
  filter: grayscale(0%);
}

.logoGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-style: solid;
  border-width: 20px 0px 0px 0px;
  border-image-source: url("../images/block.png");
  border-image-slice: 100% 0%;
  border-image-repeat: repeat;
  padding-top: 12px;
  width: auto;
}

.logoGroupTitle {
  background-color: #fbb00c;
  width: 250px;
  padding: 4px;
  font-weight: 100;
  border: 1px solid #0f0f04;
  border-radius: 0;
  box-shadow: 0 0 0 1px #0f0f04, 0 0 0 4px #9b4a12;
  text-align: center;
  font-size: 10px;
  margin-bottom: 0.5rem;
}

.logoSection {
  margin-bottom: 1rem;
}

.historySection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .historySection .verticalHistoryLine {
  background-color: #9b4a12;
  align-self: center;
  width: 15px;
  height: 12px;
  margin-top: 2px;
  margin-bottom: -3px;
} */

@media (min-width: 600px) {
  .logosContainer {
    margin-top: 60px;
  }

  .mainTitle > * {
    display: inline-block;
    margin: 0 20px;
  }

  .mainTitle {
    margin: 50px 0;
    font-size: 1.6rem;
  }

  .logoGroup {
    margin: 0.5rem 80px;
    padding: 2rem 0;
    border-width: 50px 0px 0px 0px;
  }

  .logoGroup img {
    width: 140px;
  }

  .logoGroupTitle {
    font-size: 14px;
    padding: 8px;
    border: 3px solid #0f0f04;
    box-shadow: 0 0 0 1px #0f0f04, 0 0 0 6px #9b4a12;
  }

  /* .historySection .verticalHistoryLine {
    width: 30px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: -8px;
  } */
}

@media (min-width: 903px) {
  .logoGroup img {
    width: auto;
  }

  .logoGroupTitle {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1017px) {
  .logoGroup img {
    width: auto;
  }
}
