.logosContainer {
  margin-top: 50px;
  font-family: "Press Start 2P";
  text-align: center;
}

.mainTitle>* {
  display: none;
}

.mainTitle {
  margin: 25px 0 55px;
  font-size: 18px;
}

.logoSection {
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logoGroup img {
  height: 30px;
  width: auto;
  filter: grayscale(50%);
}

.logoGroup img:hover {
  filter: grayscale(0%);
}

/* Height adjustments for logos */
.logoGroup .linguanaLogo {
  height: 50px;
}

.logoGroup .wmgLogo {
  height: 50px;
}

.logoGroup .konnectoLogo {
  height: 18px;
}

.logoGroup .rootstrapLogo {
  height: 18px;
}

.logoGroup .wyeworksLogo {
  height: 22px;
}

.logoGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  border-style: solid;
  border-width: 20px 0px 0px 0px;
  border-image-source: url("../images/block.png");
  border-image-slice: 100% 0%;
  border-image-repeat: repeat;
  padding-top: 12px;
  width: auto;
}

.logoGroupTitle {
  background-color: #fbb00c;
  width: auto;
  padding: 1px 6px;
  font-weight: 100;
  border: 1px solid #0f0f04;
  border-radius: 0;
  box-shadow: 0 0 0 1px #0f0f04, 0 0 0 2px #9b4a12;
  text-align: center;
  font-size: 6px;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.historySection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.enemyContainer {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 1;
  overflow: hidden;
}

.enemy {
  position: absolute;
  height: 20px;
  width: auto;
  bottom: 0;
  image-rendering: pixelated;
  animation: walkEnemy 15s linear infinite;
}

@keyframes walkEnemy {
  0% {
    left: 100%;
  }

  100% {
    left: -20px;
  }
}

/* .historySection .verticalHistoryLine {
  background-color: #9b4a12;
  align-self: center;
  width: 15px;
  height: 12px;
  margin-top: 2px;
  margin-bottom: -3px;
} */

@media (min-width: 600px) {
  .logosContainer {
    margin-top: 60px;
  }

  .mainTitle>* {
    display: inline-block;
    margin: 0 20px;
  }

  .mainTitle {
    margin: 50px 0 80px;
    font-size: 1.6rem;
  }

  .logoSection {
    margin-bottom: 60px;
  }

  .logoGroup {
    margin: 0.5rem 80px;
    padding: 2rem 0;
    border-width: 50px 0px 0px 0px;
    gap: 40px;
    flex-wrap: wrap;
  }

  .logoGroup img {
    height: 50px;
  }

  .logoGroup .linguanaLogo {
    height: 85px;
  }

  .logoGroup .wmgLogo {
    height: 85px;
  }

  .logoGroup .konnectoLogo {
    height: 28px;
  }

  .logoGroup .rootstrapLogo {
    height: 28px;
  }

  .logoGroup .wyeworksLogo {
    height: 38px;
  }

  .logoGroupTitle {
    font-size: 12px;
    padding: 4px 8px;
    border: 2px solid #0f0f04;
    box-shadow: 0 0 0 1px #0f0f04, 0 0 0 4px #9b4a12;
    top: 17px;
  }

  .enemyContainer {
    top: -46px;
    left: 80px;
    right: 80px;
    height: 55px;
  }

  .enemy {
    height: 55px;
  }

  @keyframes walkEnemy {
    0% {
      left: 100%;
    }

    100% {
      left: -55px;
    }
  }
}

@media (min-width: 903px) {
  .logoGroup img {
    height: 60px;
  }

  .logoGroup .linguanaLogo {
    height: 100px;
  }

  .logoGroup .wmgLogo {
    height: 100px;
  }

  .logoGroup .konnectoLogo {
    height: 35px;
  }

  .logoGroup .rootstrapLogo {
    height: 35px;
  }

  .logoGroup .wyeworksLogo {
    height: 45px;
  }
}