.logosContainer {
  margin-top: 50px;
  font-family: "Press Start 2P";
  text-align: center;
}

.mainTitle > * {
  display: none;
}

.mainTitle {
  margin: 25px 0;
  font-size: 18px;
}

.logoSection {
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logoGroup img {
  width: 100px;
  filter: grayscale(50%);
}

.logoGroup img:hover {
  filter: grayscale(0%);
}

.logoGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logoGroupTitle {
  color: gray;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 12px;
}

.logoGroupTitle {
  margin-bottom: 0.5rem;
}

.logoSection {
  margin-bottom: 1rem;
}

.verticalHistoryLine {
  width: 20px;
  height: 50px;
  background-color: #fff0b5;
  position: absolute;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
}

@media (min-width: 600px) {
  .logosContainer {
    margin-top: 60px;
  }

  .mainTitle > * {
    display: inline-block;
    margin: 0 20px;
  }

  .mainTitle {
    margin: 50px 0;
    font-size: 1.6rem;
  }

  .logoGroup img {
    width: 140px;
  }

  .logoGroupTitle {
    font-size: 18px;
  }
}

@media (min-width: 903px) {
  .logoGroup img {
    width: auto;
  }

  .logoGroupTitle {
    margin-bottom: 1.5rem;
  }

  .logoSection {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1017px) {
  .logoGroup img {
    width: auto;
  }
}
