.container {
  margin: 50px 0;
  font-family: "Press Start 2P";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.mainTitle {
  margin: 25px 10px;
  font-size: 18px;
}

.titleIcon {
  display: none;
}

.select {
  width: auto;
  margin: 0 20px;
}

.skillsContainer {
  margin-top: 15px;
  width: 90%;
  text-align: center;
}

.badgeContainer {
  display: inline-block;
  position: relative;
}

.badge {
  margin: 10px;
  padding-right: 190px;
  pointer-events: none;
}

.favorite {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 5px;
}

@media (min-width: 600px) {
  .badge {
    margin: 15px;
  }
}

@media (min-width: 900px) {
  .container {
    margin: 60px 0;
  }

  .mainTitleContainer {
    flex-direction: row;
  }

  .mainTitle {
    font-size: 1.5rem;
  }

  .titleIcon {
    display: inline-block;
  }

  .skillsContainer {
    margin-top: 30px;
  }

  .favorite {
    top: 10px;
    left: 15px;
  }
}
